.image_portfolio{
    height: 150px;
    width: 300px;
    margin-left: 70px;
}
.button{
    background-color: teal;
    color: white;
    text-align: center;
    width: 300px;
    height: 30px;
    margin-left: 70px;


}
@media only screen and (max-width: 780px)
{
.image_portfolio{
    margin-left: 0px;
    width: 240px;
}
.button{
    margin-left: 0px;
    width: 240px;
    height: 40px;
}
}